{% extends 'base_layout/base_site.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'builds/drag.css' %}">
    <link rel="stylesheet" href="{% static 'builds/table.css' %}">
    <link type="text/css"  rel="stylesheet" href="{% static 'builds/tab.css' %}">
</head>

<input  id="tab1" type="radio" name="tabs" checked>
<label for="tab1">파일 불러오기</label>


<input id="tab2" type="radio" name="tabs">
<label for="tab2">DB 불러오기</label>

<section id="content1" style="width: 2000px; height: 1200px;">
    <div class="drag-area">
        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
        <span>OR</span>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row content">
                <div class ="col"> <br>
                    <input type="file" name="document" id="document" required="required"><br>
                </div>
                <div class ="col"> <br>
                    <button type="submit" class="btn-primary"> Upload</button> <br>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                {% for datase in cols %}
                <th>
                    <B>{{datase}}</B>
                </th>
                {% endfor %}
            </tr>
            {% for oneline in products_list %}
            <tr>
                {% for onedata in oneline %}
                <td>{{onedata}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<section id="tab">

</section>

{% endblock %}