{% extends 'base_layout/base_site.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'builds/drag.css' %}">
    <link rel="stylesheet" href="{% static '/builds/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready(function () {
    $('#example').DataTable({"lengthMenu": [ 20, 50, 100 ]});
});
</script>
</head>
<body style="overflow-x: hidden">
<nav class = "navbar-fixed-top">
    <div class="logo">
        불러오기
    </div>
    <div class="nav-items">
        <li><a href="{% url 'mon' %}">파일 불러오기</a></li>
        <li><a href="{% url 'tab1' %}">DB 불러오기</a></li>
    </div>
</nav>
</body>
<script>
      const menuBtn = document.querySelector(".menu-icon span");
      const searchBtn = document.querySelector(".search-icon");
      const cancelBtn = document.querySelector(".cancel-icon");
      const items = document.querySelector(".nav-items");
      const form = document.querySelector("form");
      menuBtn.onclick = ()=>{
        <items class="clas"></items>sList.add("active");
        menuBtn.classList.add("hide");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      }
      cancelBtn.onclick = ()=>{
        items.classList.remove("active");
        menuBtn.classList.remove("hide");
        searchBtn.classList.remove("hide");
        cancelBtn.classList.remove("show");
        form.classList.remove("active");
        cancelBtn.style.color = "#ff3d00";
      }
      searchBtn.onclick = ()=>{
        form.classList.add("active");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      }
</script>
<div style = "padding : 100px">
    <div class="content" style= "position:fixed; ">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row content" style ="overflow:hidden"><br>
                <input type="file" name="document" id="document" required="required"><br>
                <button type="submit" class="btn-primary"> Upload</button> <br>
            </div>

        </form>
        <br>
        <table id="example" class="display" style="width:100%; max-height: 1000px; overflow: scroll;">
            <thead>
            <tr>

                {% for datase in cols %}

                <th><B>{{datase}}</B></th>

                {% endfor %}

            </tr>
            </thead>
            <tbody>
            {% for oneline in products_list %}
            <tr>

                {% for onedata in oneline %}
                <td>{{onedata}}</td>

                {% endfor %}
            </tr>
            {% endfor %}
            </tfoot>
        </table>
    </div>
</div>
{% block javascripts %}
<script src="{% static "/libs/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "/builds/custom.js" %}"></script>
<!-- Bootstrap Colorpicker -->
<script src="{% static "/libs/moment/min/moment.min.js" %}"></script>
<script src="{% static "/libs/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
<script src="{% static '/libs/datetimepicker/bootstrap-datetimepicker.js' %}"></script>
{% endblock %}
{% endblock %}