{% extends 'base_layout/base_site.html' %}
{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'builds/drag.css' %}">
    <link rel="stylesheet" href="{% static 'builds/table.css' %}">
    <link rel="stylesheet" href="{% static '/builds/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
    <body style="overflow-x: hidden">
    <nav>
        <div class="logo">
            불러오기
        </div>
        <div class="nav-items">
            <li><a href="{% url 'mon' %}">파일 불러오기</a></li>
            <li><a href="{% url 'tab1' %}">DB 불러오기</a></li>
        </div>
        <div class="search-icon">
            <span class="fas fa-search"></span>
        </div>
        <div class="cancel-icon">
            <span class="fas fa-times"></span>
        </div>
    </nav>
    </body>
    <script>

</script>
{% endblock %}