body{
  height:50em;
  background:#f1f1f1;
}
.navbar-fixed{
  height:auto !important;
}
nav{
  height:auto;
}
.mb-0{
  margin-bottom:0px;
}


.pt-10{
  padding-top:10em;
}

.tabs .indicator {
    background-color: #fff;
}

.header{
  margin:1em 0em;
  font-weight:600;
  color:#333;
  text-transform:uppercase;
}